<div class=details>

<h2>
  User Profile
  <% if @user.id == session[:user_id].to_i %>
    <small>
      <%= link_to "Edit This User", edit_user_path(@user.id) %>
    </small>
</h2>

    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Address: <%= @user.address %></p>
  <% else %>

    <h3>Unauthorized</h3>

  <% end %>

</div>