/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 20px;
  font-size: 16px;

  background-image: url("hawksimage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;    
}

input, select, textarea {
  margin-top: 8px;
}

.container {
  color: white;
  margin: 10px auto;
  padding: 10px;
}


nav {
  background: #000;
  color: white;
  /*width: 100%;*/
  padding: 8px;
  font-size: 18px;
}
nav form {
  display: inline;
}
nav a {
  text-decoration: none;
  border: none;
  color: white;
}
nav a:hover {
  text-decoration: none;
  border-bottom: solid 1px white;
}
nav ul {
  padding: 8px;
  padding-left: 24px;
  margin: 0px;
  display: inline;
}
nav li {
  display: inline;
  color: white;
  list-style-type: none;
  padding-right: 20px;
}



h1 {
  border-bottom: solid 2px #AAA;
  padding-bottom: 12px;
  color: white;
}

h2 {
  margin-left: 10px;
  border-bottom: solid 2px #AAA;
  padding-bottom: 12px;
  /*color: white;*/
}

h3 {
  padding-bottom: 12px;
  color: white;
}

a {
  text-decoration: none;
  border-bottom: dotted 1px #000;
  color: #000;
}
a:hover {
  text-decoration: none;
  border-bottom: solid 1px #000;
}

li {
  line-height: 1.7em;
  color: #000;
  list-style-type: none;
}

.product-box {
  float: left;
  width: 245px;
  height: 400px;
  padding: 20px;
  padding-left: 0px;
  text-align: center;
}
.product-box h3 a {
  color: white;
  background-color: darkred;
}
.product-box img {
  text-align: center;
  margin: auto auto;
  display: block;
  box-shadow: 8px 8px 8px #999;
  width: 245px;
  height: 245px;
}

input, textarea {
  font-size: 16px;
  padding: 8px;
}

h1 small a {
  font-size: 14px;
  font-weight: normal;
  color: white;
  margin-left: 12px;
  border-bottom: dotted 1px white; 
}
h1 small a:hover {
  text-decoration: none;
  border-bottom: solid 1px white;
}

h2 small a {
  font-size: 14px;
  font-weight: normal;
  /*color: #999;*/
  margin-left: 12px;
}

.pull-right {
  float: right;
  margin: 0 20px 20px 20px;
}

.pull-left {
  float: left;
  margin: 20px 40px 0px 20px;
}

.nav-right {
  float: right;
  padding: 0;
}

.details {
  width: 80%;
  margin: auto;
  /*text-align: center;*/
  background-color: white;
}

.reviews {
  width: 80%;
  margin: auto;
  /*margin: 0px 0px 0px 100px;*/
  padding: 0px 0px 10px 300px;
}
.reviews h3 {
  color: #000;
}


select { font-size: 18px; }

form label { margin-right: 12px;}

table {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  border-collapse: collapse;
  width: 70%;
}
table th {  
  color: #000;
  border-bottom: solid 2px #000;
  padding: 6px;
  background-color: gray;
}
table td {
  border: solid 2px #000;
  padding: 6px;
  color: #000;
  background-color: lightgray;
}


/*nav form input {
  border-radius: 6px;
  margin: 0;
  width: 400px;
}*/


.container2 {
  width: 40%;
  margin: auto;
  padding: 0px 60px 10px 60px;
  background-color: lightgray;
}


.form_button {
  /*background-color: white;*/
  background-color: #3366CC;
  border-radius: 8px;
}
.form_button:hover {
    background-color: #3333CC;
    /*background-color: #4CAF50;*/
    /*color: white;*/
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.players_page {
  text-align: center;
  color: white;
}

.players_page a {
  color: white;
  border-bottom: dotted 1px white;
}
.players_page a:hover {
  text-decoration: none;
  border-bottom: solid 1px white;
}
.players_page h3 {
  color: white;
}


.player_details {
  width: 80%;
  margin: auto;
  background-color: white;
}

.player_stats {
  margin: auto;
  padding: 10px 0px 10px 180px;
}








