<div class="players_page">

<% if session["user_id"].present? %>
  <% current_user = User.find_by(id: session["user_id"]) %>
  <% if current_user.admin %>
    <h3>
    <%= link_to "Add Product", new_product_path %>
    </h3>
   <% end %>
 <% end %>

 </div>

<% @products.each do |product| %>

  <div class="product-box">
    <%= link_to image_tag(product.image_url), product_path(product.id) %>
    <h3><%= link_to product.name, product_path(product.id) %></h3>
  </div>

<% end %>